.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica;
}

.friendsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0 50px 0;
  height: 425px;
  width: 600px;
  box-shadow: 5px 5px 5px 5px lightgrey;
}

.friendsForm h2 {
  border-bottom: none;
  border: 1px solid lightgrey;
  width: 600px;
  text-align: center;
  height: 50px;
  padding-top: 20px;
  background-color: seagreen;
  color: white;
  font-size: 26px;
  margin: 0;
}

.friendsForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  width: 600px;
}

.friendsForm input {
  width: 500px;
  height:50px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  font-size: 20px;
  margin: 25px 0 0 0;
  outline: none;
}

.friendsForm button {
  width: 150px;
  height: 40px;
  margin: 30px 0 50px 0;
  border-radius: 4px;
  background-color: slategray;
  font-size: 16px;
  color: white;
}

.friendsForm button:hover {
    color: slategray;
    background-color: white;
    border: 2px solid slategray;
}